body {
  --settings-height: 21px;
}

.area-counter {
  @apply absolute font-bold text-white;
  text-shadow: 0 0 2px black;
  user-select: none;
  .-complete {
    opacity: 0.5;
  }
  td {
    @apply pl-2;
  }
  td:first-child {
    @apply border-r pr-2;
    text-align: right;
  }
}
