.tracker-view .area-box {
  @apply absolute left-0 top-0;
  &__gps {
    @apply absolute hidden h-full w-full;
    transform: translate(-50%, -50%);
    &.-visible, .edit-area & {
      @apply block;
    }
    &:before {
      inset: -100% -50% 0;
    }
    &.smv-gps-number:before {
      inset: -50% -25% 0;
    }
  }
}

.area-box__svg {
  @apply absolute;
  left: -100%;
  top: -100%;
  pointer-events: none;
  path {
    opacity: 0;
    &.-closed {
      fill: #000000;
    }
    &.-open {
      .-area-crater & {
        fill: #4A7B6B;
      }
      .-area-green-brinstar & {
        fill: #4AAD4A;
      }
      .-area-red-brinstar & {
        fill: #AD4208;
      }
      .-area-phantoon &,
      .-area-wrecked-ship & {
        fill: #8E8E4E;
      }
      .-area-kraid &,
      .-area-kraids-lair & {
        fill: #CED63B;
      }
      .-area-upper-norfair & {
        fill: #FF8C00;
      }
      .-area-crocomire & {
        fill: #631532;
      }
      .-area-ridley &,
      .-area-lower-norfair & {
        fill: #FF3100;
      }
      .-area-west-maridia & {
        fill: #008CFF;
      }
      .-area-draygon &,
      .-area-east-maridia & {
        fill: #E78CDE;
      }
      .-area-tourian & {
        fill: #BC9898;
      }
    }
  }
  .-editing-svg & { /* TODO when in editing mode, show svg and add this class */
    display: block !important;
    fill: rgba(255, 0, 0, 0.25) !important;
    stroke: white;
    stroke-width: 0.2;
    &#unknownSvg {
      fill: rgba(255, 0, 0, 0.25) !important;
      stroke: red;
    }
  }
  &.-highlight-open path.-open {
    opacity: 0.5;
  }
  &.-hide-closed path.-closed {
    opacity: 0.75;
  }
  text {
    fill: white;
    font-size: 0.5px;
    font-weight: bold;
    text-transform:uppercase;
    .-layout-legacy &, .-layout-nordub & {
      font-size: 1px;
    }
  }
}
