.tracker-view .auto-tracker {
  @apply absolute top-0 right-0;
}

.auto-tracker {
  &__top {
    @apply flex items-center gap-2;
  }
  &__title {
    @apply flex items-center pr-2;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__status {
    color: white;
    &.-green {
      color: #0F0;
    }
    &.-red {
      color: #F00
    }
    &.-orange {
      color: #F80;
    }
  }
}

.auto-tracker__error {
  @apply cursor-pointer;
}

.virtual-list {
  @apply bg-gray-400;
  height: 20rem;
  overflow-y: auto;
  &__wrapper {
    @apply relative;
  }
  &.-locked {
    pointer-events: none;
  }
}

.virtual-list__lock {
  @apply absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0)
}

.text-log {
  @apply bg-gray-400 border-b border-gray-200 flex px-1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
  &__index {
    width: 40px;
  }
  &__text {
    width: 250px;
    white-space: break-spaces;
  }
}

.auto-tracker__debug {
  @apply bg-gray-400;
  ._row {
    @apply flex;
  }
  ._label {
    width: 85px;
  }
}