/* TODO add this line to master's varia.css */
.objective-help__category-name {
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
}
/*
  This file exists because I need css from the varia master branch on production
  Delete this file after next prod deploy, post Nov 5 2023
 */
.popover.tour-tour {
    display: flex !important;
    flex-direction: column;
    overflow-y: unset;
}
.popover.tour-tour .popover-content {
    height: 100%;
    overflow-y: auto;
    text-align: left;
}
.popover.tour-tour h3 {
    margin: 0 0 12px;
}
.popover.tour-tour hr {
    margin: 20px 0;
}
.popover.tour-tour ul.browser-default li {
    list-style-position: outside;
    margin-left: 20px;
}
.popover-navigation {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.patch-selector__cards {
    --p-image-width: 200px;
    --p-gap: 12px;
    --p-padding: 8px;
    --p-border: 1px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.patch-card {
    background: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: calc(var(--p-image-width) + 2px);
}

.patch-card a {
    text-decoration: underline;
}

.patch-card.-width-2 {
    width: calc(2 * var(--p-image-width) + 2px);
}

.patch-card__images {
    display: flex;
    justify-content: center;
}

.patch-card__images img {
    width: var(--p-image-width);
}

.patch-card__image.-on,
.patch-card__wrapper.-patch-on .patch-card__image.-off {
    display: block;
}

.patch-card__image.-off,
.patch-card__wrapper.-patch-on .patch-card__image.-on {
    display: none;
}

.patch-card__content {
    padding: 8px;
}

.flex-row {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    width: 100%;
}

.flex-row .switchery {
    min-width: 35px;
}

.gap-2 {
    gap: 8px;
}

.flex-grow {
    flex-grow: 1;
}

.preset-select-div {
  min-width: 50%;
}

.flex-row__text {
    text-wrap: nowrap;
    width: 200px;
}

.btn-group > .btn {
    border-radius: 5px;
    margin-right: 0;
    padding: 0.2 1em;
}

.btn-group > .btn:focus {
    outline: 0;
}

.faux-link {
    color: SteelBlue;
    cursor: pointer;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
}

.vue-app .btn {
    font-size: 12px;
    text-transform: unset;
}

.btn .fa {
    display: inline-block;
    text-align: center;
    width: 1em;
}

.bootstrap-modal .modal {
    display: flex;
}
.bootstrap-modal [type=checkbox] {
    cursor: pointer;
}
.bootstrap-modal .modal-dialog {
    width: unset;
}
.bootstrap-modal .modal-content {
    background: #fafafa;
    max-width: calc(100vw - 120px);
}
.bootstrap-modal .modal-header {
    position: relative;
}
.bootstrap-modal .modal-body {
    max-height: calc(100vh - 2 * 30px - 60px - 60px); /* screen - margin - header - footer */
    overflow: auto;
}
.bootstrap-modal .close {
    color: #000;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    filter: alpha(opacity=20);
    opacity: .2;
    position: absolute;
    right: 20px;
    top: 50%;
    text-shadow: 0 1px 0 #fff;
    transform: translate(0, -50%);
}
.bootstrap-modal .-partial [type=checkbox] {
    filter: grayscale(1);
    opacity: 0.5;
}
.bootstrap-modal .-disabled {
    opacity: 0.4;
}
.bootstrap-modal .-disabled [type=checkbox] {
    pointer-events: none;
    filter: invert(0.5);
}
.objective-selector,
.objective-help {
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px;
}
.objective-help .smv-objective {
    font-size: 24px
}
.objective-help__list {
    display: flex;
    gap: 16px;
}
.objective-help__item {
    align-items: center;
    display: flex;
    height: 29px;
    gap: 8px;
}
.bootstrap-modal .modal-footer__text {
    padding-right: 8px;
}
.bootstrap-modal .modal-footer .alert {
    float: left;
    margin-bottom: 0;
    padding: 5px 10px;
}
.vue-app .button-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 4px 0;
}
#objectivePortal ._flex {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 4px 0;
}
.vue-app .btn-xs {
    line-height: 1;
    padding: 4px 5px;
    margin: 0;
}
#objectivePortal .btn-danger { order: 1 }
#objectivePortal .btn-warning { order: 2 }
#objectivePortal .btn-primary { order: 3 }
#objectivePortal .btn-success { order: 4 }
#objectivePortal .btn-info { order: 5 }
#objectivePortal .btn-default { order: 6 }
#objectivePortal .faux-link { order: 7; }

/* readonly mode */
#seedInfoVisibility .patch-toggler .btn {
    pointer-events: none;
}
