.door-picker {
  @apply p-2;
  background: white;
  color: black;
}

.door-picker__colors {
  @apply flex flex-wrap gap-1;
  width: calc(4 * 3rem + 3 * 0.25rem);
}

.door-picker__door {
  @apply flex items-center justify-center relative h-12 w-12;
  font-size: 1.5rem;
  &:hover:before {
    border: 0.5rem solid black;
  }
  &.-selected:before {
    border: 0.25rem solid black;
  }
}