.edit-area {
  @apply relative;
  .area-warp {
    --width: 100%;
    --height: 100%;
  }
  &.-tool-grid {
    .location-marker, .area-warp {
      width: 50%;
      height: 50%;
    }
    .area-door {
      display: none;
    }
    path {
      stroke: red;
      stroke-width: 0.025;
    }
  }
}