.grid-tracker {
  padding: 0.3em;
  /* width: 7em; */
  &__row {
    @apply flex justify-center;
    gap: 0.2em;
    padding-bottom: 0.2em;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .sm-item, .sm-g4-head {
    cursor: pointer;
  }
  .sm-item {
    @apply relative;
    .grid-tracker__numbers {
      --inventory-px: 0.06em;
      @apply absolute flex right-0;
      bottom: -0.06em;
    }
  }
  *, *:before {
    /* image-rendering: initial !important; */
  }
}