.grid-tracker {
  &.smi-tracker {
    image-rendering: unset;
  }
  padding: 0.2em;
  &__row {
    @apply flex justify-center;
    gap: 0.1em;
    padding-bottom: 0.2em;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .sm-item, .sm-g4-head {
    cursor: pointer;
  }

  .sm-item {
    @apply relative;
    .grid-tracker__numbers {
      --inventory-px: 0.06em;
      @apply absolute flex;
      bottom: -0.06em;
      right: 0;
    }
    &.-three-digits .grid-tracker__numbers {
      /* centering 1XX numbers is complicated */
      right: -0.24em;
      .smi-number {
        @apply relative;
        &:first-child {
          left: 0.06em;
        }
        &:last-child {
          left: -0.06em;
        }
      }
    }
  }
}