/* TODO rename to grid-tracker */

.grid-tracker {
  font-size: 39px;
  padding: 0.5em;
  width: 7em;
  &__row {
    @apply flex;
    gap: 0.2em;
    padding-bottom: 0.2em;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .sm-item, .sm-g4-head {
    cursor: pointer;
  }
  .sm-item {
    @apply relative;
    .grid-tracker__numbers {
      --inventory-px: 0.04em;
      @apply absolute flex right-0;
      bottom: -0.04em;
    }
  }
}