@import './area-box.css';
@import './edit-area.css';
@import './item-counter.css';
@import './grid-tracker.css';
@import './location-marker.css';
@import './pause-inventory.css';
@import './seed-settings.css';
@import './tailwind.css';
@import './varia-site.css';
@import './z-index.css';

body {
  margin: 0;
}

html, body, #app {
  @apply h-full;
}

#app {

}

.tracker-view {
  @apply relative;
  height: 100%;
  #openseadragon-viewer {
    @apply h-full w-full;
    background: black;
  }
  &__config .dropdown-items {
    width: 17rem;
  }
  .ur-toolbar {
    @apply absolute;
  }
}

.tracker-toolbar {
  @apply fixed;
}

.tracker-view .item-tracker__wrapper {
  @apply absolute left-0;
  top: 40px;
  .grid-tracker {
    font-size: 2.5vw;
  }
  .pause-inventory {
    --inventory-px: 1px;
  }
}


.area-warp {
  /* base size is 13.5px */
  --height: 214.8148%; /* 29 / 13.5 px */
  --width: 118.5185185%; /* 16 / 13.5 px */
  @apply absolute cursor-pointer;
  height: var(--height);
  width: var(--width);
  transform: translate(-50%, -50%);
  &.-rotated {
    height: var(--width);
    width: var(--height);
  }
  &:before {
    @apply absolute inset-0;
    background: radial-gradient(farthest-side, #000, #000 33%, #7001ce 75%, #FF00FF);
    border-radius: 100%;
    content: '';
    .large_warps & {
      inset: -25%;
    }
  }
  /* #westSandHallTunnelRight&:before { */
  /*   content: 'V'; */
  /* } */
  /* #belowBotwoonEnergyTankRight&:before { */
  /*   content: 'A'; */
  /* } */
  &.-boss:before {
    background: radial-gradient(farthest-side, #000, #000 33%, #ce0001 75%, #FF0000);
  }
  &.-sand:before {
    background: radial-gradient(farthest-side, #000, #000 33%, #008888 75%, #00FFFF);
  }
  &.-escape:before {
    background: radial-gradient(farthest-side, #000, #000 33%, #008800 75%, #00FF00);
  }
  &.-selected:after {
    @apply absolute block inset-0;
    content: "";
    display: block;
    border: 3px dashed white;
    .large_locations & {
      inset: -25%;
    }
  }
}

.area-overlay {
  @apply absolute;
  img {
    @apply max-w-none pointer-events-none;
  }
  &__title {
    @apply absolute text-white;
    text-transform: uppercase;
    white-space: nowrap;
    .drag-anchor {
      transform: translate(-100%, 0);
    }
  }
}

.dirty-layout {
  @apply fixed right-0 bottom-0;
}

.beam-chooser {
  @apply flex gap-4 items-center;
}

.cheat-sheet {
  .table {
    @apply text-center;
  }
  &__portrait {
    @apply flex items-center gap-4;
    .sm-boss:before {
      inset: -50%;
    }
  }
}

.wrapper-toolbar {
  @apply fixed;
}

.ur-toolbar__row {
  @apply flex gap-2;
}

.warp-connections {
  @apply absolute inset-0 pointer-events-none h-full w-full;
}

body {
  --color-brinstar: #4F4;
  --color-crateria: #F99;
  --color-norfair: #F44;
  --color-maridia: #44F;
  --color-wrecked-ship: #FF4;
  --color-warehouse: #888;
}

.warp-connections__line {
  stroke-width: 0.003;
  &.-area- {
    &green-brinstar, &red-brinstar {
      stroke: var(--color-brinstar);
    }
    &crater, &tourian {
      stroke: var(--color-crateria);
    }
    &upper-norfair, &lower-norfair, &ridley {
      stroke: var(--color-norfair);
    }
    &east-maridia, &west-maridia, &draygon {
      stroke: var(--color-maridia);
    }
    &wrecked-ship, &phantoon {
      stroke: var(--color-wrecked-ship);
    }
    &kraids-lair, &crocomire, &kraid {
      stroke: var(--color-warehouse);
    }
    &red-brinstar, &tourian, &lower-norfair, &east-maridia, &kraids-lair {
      stroke-dasharray: 0 0.005 0;
    }
    &phantoon, &ridley, &draygon, &kraid {
      stroke-dasharray: 0 0.002 0;
    }
  }
}

.warp-connections__text, .warp-connections__subtext {
  alignment-baseline: central;
  fill: white;
  font-size: 0.015px;
  stroke: white;
  stroke-width: 0;
  text-anchor: middle;
  text-transform: uppercase;
}

.warp-connections__subtext {
  font-size: 0.01px;
}

.warp-connections__rect {
  stroke-width: 0.002px;
  fill: black;
}

.dropdown-items .form-group {
  @apply border-b flex  items-center gap-4 m-0 p-4;
  &:last-child {
    @apply border-0;
  }
  &____root {
    @apply border-0 block p-0;
  }
}


.drag-anchor {
  @apply absolute cursor-pointer text-white;
}

.tracker-view__key-stack {
  @apply absolute bottom-0 text-center text-white w-full;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.item-counter {
  @apply absolute font-bold text-white;
  pointer-events: none;
  text-shadow: 0 0 2px black;
  user-select: none;
  .-complete {
    opacity: 0.5;
  }
  td {
    @apply pl-2;
  }
  td:first-child {
    @apply border-r pr-2;
    text-align: right;
  }
}

.ur-toolbar .sm-icon{
  @apply my-1;
  &:before {
    inset: -20%;
    image-rendering: unset;
  }
}

.-layout-streaming .area-warp {
  --width: 130%;
  --height: 130%; /* make it square */
}

.-layout-alt-streaming .area-warp {
  --width: 100%;
  --height: 100%; /* make it square */
}

.-layout-streaming, .-layout-alt-streaming {
  .area-warp {
    &:before {
      background: radial-gradient(#000, #000 50%, #a0f8f8 60%, #a0f8f8 90%, #000 100%);
    }
    .-tool-admin_move_location& {
      @apply flex items-center justify-center;
      outline: 2px solid white;
    }
    &.-escape, &.-sand {
      display: none;
    }
  }

  svg.warp-connections {
    /* see note about svg_scale in src/layouts/streaming/index.js */
    right: unset;
    left: unset;
    height: 200%;
    width: 200%;
  }
}
