@import './tailwind.css';
@import './z-index.css';

body {
  margin: 0;
}

html, body, #app {
  @apply h-full;
}

#app {

}

.tracker-view {
  height: 100%;
  #openseadragon-viewer {
    @apply h-full w-full;
    background: black;
  }
}

.tracker-toolbar {
  @apply fixed;
}

.area-warp {
  /* base size is 13.5px */
  --height: 214.8148%; /* 29 / 13.5 px */
  --width: 118.5185185%; /* 16 / 13.5 px */
  @apply absolute cursor-pointer;
  height: var(--height);
  width: var(--width);
  transform: translate(-50%, -50%);
  &.-rotated {
    height: var(--width);
    width: var(--height);
  }
  &:before {
    @apply absolute block inset-0;
    background: radial-gradient(farthest-side, #000, #000 33%, #7001ce 75%, #FF00FF);
    border-radius: 100%;
    content: '';
    .-large-icons & {
      inset: -25%;
    }
  }
  &.-boss:before {
    filter: hue-rotate(45deg);
  }
  &.-sand:before {
    background: radial-gradient(farthest-side, #000, #000 33%, #008888 75%, #00FFFF);
  }
  &.-escape:before {
    background: radial-gradient(farthest-side, #000, #000 33%, #008800 75%, #00FF00);
  }
}

.area-item {
  @apply absolute cursor-pointer;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  &:before {
    @apply absolute block inset-0;
    background: rgba(0, 255, 0, 0.5);
    content: '';
  }
}

.-layout-legacy.-large-icons {
  .area-item:before {
    height: 200%;
    transform: translate(-25%, -25%);
    width: 200%;
  }
  .-align-right:before {
    transform: translate(-50%, -25%);
  }
  .-align-double-right:before {
    transform: translate(-75%, -25%);
  }
  .-align-left:before {
    transform: translate(0%, -25%);
  }
  .-align-top:before {
    transform: translate(-25%, 0%);
  }
  .-align-bottom:before {
    transform: translate(-25%, -50%);
  }
  .-align-top-right:before {
    transform: translate(-50%, 0);
  }
  .-align-top-left:before {
    transform: translate(0%, 0%);
  }
  .-align-bottom-right:before {
    transform: translate(-50%, -50%);
  }
  .-align-bottom-left:before {
    transform: translate(0%, -50%);
  }
}

.area-overlay {
  @apply absolute;
  img {
    @apply max-w-none pointer-events-none;
  }
  &__move {
    @apply absolute cursor-pointer text-white;
  }
}

.dirty-layout {
  @apply fixed right-0 bottom-0;
}

.beam-chooser {
  @apply flex gap-4 items-center;
}

.cheat-sheet {
  .table {
    @apply text-center;
  }
  &__portrait {
    @apply flex items-center justify-center;
    height: 1em;
    width: 1em;
    img {
      max-height: 200%;
      max-width: 200%;
    }
  }
}

.wrapper-toolbar {
  @apply fixed;
}

.ur-toolbar__row {
  @apply flex gap-2;
}