@import './area-box.css';
@import './drop-list.css';
@import './edit-area.css';
@import './item-counter.css';
@import './item-tracker.css';
@import './grid-tracker.css';
@import './golden-four.css';
@import './location-marker.css';
@import './pause-inventory.css';
@import './seed-settings.css';
@import './tailwind.css';
@import './varia-site.css';
@import './varia-picker.css';
@import './who-dat.css';
@import './z-index.css';

body {
  margin: 0;
}

html, body, #app {
  @apply h-full;
}

#app {

}

.modal-body .-sm {
  width: 400px;
}

.tracker-view {
  @apply relative;
  height: 100%;
  #openseadragon-viewer {
    @apply h-full w-full;
    background: black;
  }
  &__config .dropdown-items {
    width: 17rem;
  }
  .ur-toolbar {
    @apply absolute;
  }
  &.-entity-filter-door, &.-entity-filter-item, &.-entity-filter-warp {
    .location-marker, .area-warp, .area-door, .warp-connections {
      display: none;
    }
  }
  &.-entity-filter-door .area-door {
    display: block;
  }
  &.-entity-filter-item .location-marker {
    display: block;
  }
  &.-entity-filter-warp .area-warp,
  &.-entity-filter-warp .warp-connections {
    display: block;
  }
}

.tracker-view.-debug-svg .area-box__svg.-highlight-open path {
  display: block;
  fill: rgba(255, 0, 0, 0.5);
}

.tracker-toolbar {
  @apply fixed;
}

.tracker-view.-tool-admin_move_area {
  .warp-connections, .area-warp, .location-marker, .area-door {
    display: none;
  }
}

.sm-portal {
  @apply inline-block relative text-white;
  width: 1em;
  height: 1em;
  &:before {
    @apply absolute block;
    background: radial-gradient(farthest-side, #000, #000 25%, #7001ce 50%, #FF00FF);
    border-radius: 100%;
    content: '';
    inset: -0.3em 0;
  }
  &.-boss:before {
    background: radial-gradient(farthest-side, #000, #000 25%, #ce0001 50%, #FF0000);
  }
  &.-sand:before {
    background: radial-gradient(farthest-side, #000, #000 25%, #008888 50%, #00FFFF);
  }
  &.-escape:before {
    background: radial-gradient(farthest-side, #000, #000 25%, #008800 50%, #00FF00);
  }
  &.-lock:after {
    content: "\f023";
    font: normal normal normal 14px/inherit FontAwesome;
  }
}

.area-warp {
  /* base size is 13.5px */
  --height: 214.8148%; /* 29 / 13.5 px */
  --width: 118.5185185%; /* 16 / 13.5 px */
  @apply absolute cursor-pointer;
  height: var(--height);
  width: var(--width);
  transform: translate(-50%, -50%);
  &.-rotated {
    height: var(--width);
    width: var(--height);
  }
  &:before {
    @apply absolute inset-0;
    background: radial-gradient(farthest-side, #000, #000 33%, #7001ce 75%, #FF00FF);
    border-radius: 100%;
    content: '';
    .large_warps & {
      inset: -25%;
    }
    .-layout-alt-streaming.large_warps & {
      inset: -10%;
    }
  }
  &.-boss:before, &.-color-F00:before {
    background: radial-gradient(farthest-side, #000, #000 33%, #ce0001 75%, #FF0000);
  }
  &.-sand:before, &.-color-0FF:before {
    background: radial-gradient(farthest-side, #000, #000 33%, #008888 75%, #00FFFF);
  }
  &.-escape:before, &.-color-00F:before {
    background: radial-gradient(farthest-side, #000, #000 33%, #008800 75%, #00FF00);
  }
  &.-color-888:before {
    background: radial-gradient(farthest-side, #000, #000 33%, #777 75%, #999);
  }
  &.-selected:after {
    @apply absolute block inset-0;
    content: "";
    border: 2px solid #ddd;
    animation: borderBlink 0.5s linear infinite;
    .large_locations & {
      inset: -10%;
    }
  }
  &.-compact {
    display: none;
  }
}

@keyframes borderBlink {
  from, to {
    border-color: #fff;
  }
  50% {
    border-color: #222;
  }
}

.area-overlay {
  @apply absolute;
  img {
    @apply max-w-none pointer-events-none;
  }
  &__title {
    @apply absolute font-bold text-xl text-white;
    text-transform: uppercase;
    white-space: nowrap;
    .drag-anchor {
      @apply absolute;
      color: pink;
      left: 0;
      top: 0;
      transform: translate(-50%, -50%);
      z-index: 200;
    }
  }
  .fa.fa-edit {
    transform: translate(50%,-50%);
  }
}

.ur-toolbar__separator {
  pointer-events: none;
  padding: 0.5rem 0.25rem; /* shrink x padding */
  &:before {
    @apply border-l border-r pl-1 h-full;
    border-color: white;
    border-style: solid;
    content: "";
  }
}

.dirty-layout {
  @apply fixed right-0 bottom-0;
}

.beam-chooser {
  @apply flex gap-4 items-center;
}

.cheat-sheet {
  .table {
    @apply text-center;
  }
  &__portrait {
    @apply flex items-center gap-4;
    .sm-boss:before {
      inset: -50%;
    }
  }
}

.wrapper-toolbar {
  @apply fixed;
}

.ur-toolbar__row {
  @apply flex gap-2;
}

.warp-connections {
  @apply absolute inset-0 pointer-events-none h-full w-full;
}

body {
  --color-brinstar: #4F4;
  --color-crateria: #F99;
  --color-norfair: #F44;
  --color-maridia: #44F;
  --color-wrecked-ship: #FF4;
  --color-warehouse: #888;
}

.warp-connections__line {
  stroke-width: 0.002;
  &.-area- {
    &green-brinstar, &red-brinstar {
      stroke: var(--color-brinstar);
    }
    &crater, &tourian {
      stroke: var(--color-crateria);
    }
    &upper-norfair, &lower-norfair, &ridley {
      stroke: var(--color-norfair);
    }
    &east-maridia, &west-maridia, &draygon {
      stroke: var(--color-maridia);
    }
    &wrecked-ship, &phantoon {
      stroke: var(--color-wrecked-ship);
    }
    &kraids-lair, &crocomire, &kraid {
      stroke: var(--color-warehouse);
    }
  }
  &.-hovering {
    stroke-dasharray: 0.008 0.004;
    animation: slide-dash-offset 0.75s linear infinite;
  }
}

@keyframes slide-dash-offset {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0.012; /* sum of both offset parts */
  }
}

.warp-connections__text, .warp-connections__subtext {
  fill: white;
  stroke: white;
  stroke-width: 0;
  text-anchor: middle;
  text-transform: uppercase;
}

.warp-connections__text {
  font-size: 0.015px;
  .-layout-streaming & {
    font-size: 0.01px;
  }
}

.warp-connections__subtext {
  font-size: 0.01px;
  .-layout-streaming & {
    font-size: 0.007px;
  }
}

.warp-connections__rect {
  stroke-width: 0.002px;
  fill: black;
}

.dropdown-items .form-group {
  @apply border-b flex  items-center gap-4 m-0 p-4;
  &:last-child {
    @apply border-0;
  }
  &____root {
    @apply border-0 block p-0;
  }
}


.drag-anchor {
  @apply absolute cursor-pointer text-white;
}

.tracker-view__key-stack {
  @apply absolute bottom-0 text-center text-white w-full;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.item-counter {
  @apply absolute font-bold text-white;
  pointer-events: none;
  text-shadow: 0 0 2px black;
  user-select: none;
  .-complete {
    opacity: 0.5;
  }
  td {
    @apply pl-2;
  }
  td:first-child {
    @apply border-r pr-2;
    text-align: right;
  }
}

.ur-toolbar .sm-icon{
  @apply my-1;
  &:before {
    inset: -20%;
    image-rendering: unset;
  }
}

.-layout-alt-streaming .area-warp,.-layout-streaming .area-warp {
  --width: 140%;
  --height: 140%; /* make it square */
}

.-layout-streaming, .-layout-alt-streaming {
  .area-warp {
    &:before {
      background: radial-gradient(#000, #000 50%, #a0f8f8 60%, #a0f8f8 90%, #000 100%);
    }
  }
  .area-warp, .warp-connections__text {
    &.-escape, &.-sand {
      display: none;
    }
  }

  svg.warp-connections {
    /* see note about svg_scale in src/layouts/streaming/index.js */
    right: unset;
    left: unset;
    height: 200%;
    width: 200%;
  }
}

.area-door {
  @apply absolute cursor-pointer;
  height: 100%;
  width: 40%;
  transform: translate(-50%, -50%);
  &.-rotated {
    height: 40%;
    width: 100%;
  }
  .large_doors & {
    height: 150%;
    width: 60%;
    &.-rotated {
      height: 60%;
      width: 150%;
    }
  }
  &:hover:before {
    inset: -20%;
  }
  &.-wave, &.-plasma, &.-spazer, &.-ice {
    &:before {
      background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 2.5px,
        var(--door-brown) 2.5px,
        var(--door-brown) 6px
      );
    }
  }
}

.area-door, .-bg-door {
  --door-blue: #3870ff;
  --door-red: #ff2f8f;
  --door-green: #80ff0f;
  --door-yellow: #f0af00;
  --door-brown: #6f404f;
  &:before {
    @apply absolute block inset-0;
    content: "";
    background-color: var(--background-color);
  }
  &.-white {
    --background-color: white;
  }
  &.-ice, &.-blue {
    --background-color: var(--door-blue);
  }
  &.-wave, &.-red {
    --background-color: var(--door-red);
  }
  &.-plasma, &.-green {
    --background-color: var(--door-green);
  }
  &.-spazer, &.-yellow {
    --background-color: var(--door-yellow);
  }
  &.-brown, &.-grey {
    --background-color: var(--door-brown);
  }
  &.-white:before {
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 2px,
      black 2px,
      black 4px
    );
  }
  &.-hidden {
    display: none;
  }
}

.edit-area__click-mask {
  @apply absolute inset-0;
}
.edit-area__hover-dot {
  @apply absolute bg-green-500 w-2 h-2 rounded-full;
  pointer-events: none;
  transform: translate(-50%, -50%);
  &.-extra {
    @apply bg-red-500
  }
}

h3 {
  @apply text-2xl font-bold;
  .ur-dropdown &.form-group {
    @apply pb-2
  }
}


.osd-wrapper.-loading {
  @apply absolute;
  &:before {
    @apply absolute bg-black flex items-center inset-0 justify-center;
    content: "";
    z-index: 99;
  }
}

.damage-table {
  text-align: center;
  &__icons {
    @apply flex gap-4 justify-center;
  }
  .smv-beam.-charge {
    order: 1;
  }
  .smv-beam.-wave {
    order: 2;
  }
  .smv-beam.-ice {
    order: 3;
  }
  .smv-beam.-spazer {
    order: 4;
  }
  .smv-beam.-plasma {
    order: 5;
  }
  .smv-beam:before {
    inset: -25%;
  }
}

.objective-form {
  .form-group {
    margin-bottom: 0
  }
  .form-group____root > .input-wrapper {
    @apply flex flex-wrap gap-8;
  }
  .unrest-checkboxes {
    @apply flex-col
  }
}