.tracker-view .item-tracker__wrapper {
  @apply absolute;
  top: 2.6rem;
  left: 0;
  font-size: 2.5vw;
  --inventory-px: 1px;
}

.help-anchor {
  /* need to hide these help buttons they hover over the parent
     it needs to be present on the page so it can be targeted by the tour */
  @apply absolute right-0 top-0;
  font-size: 18px;
  opacity: 0;
  pointer-events: none;
  .-site-varia .item-tracker__wrapper:hover &,
  body.-tour-open & {
    opacity: 1;
    pointer-events: all;
  }
}