.tracker-view .location-marker {
  @apply absolute cursor-pointer;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  &.-completed:before {
    opacity: 0.75;
    filter: grayscale(1);
    inset: 10%;
  }
  &.-nothing:before, &.-noenergy:before {
    display: none;
  }
}

.tracker-view {
  &.-locations-large .location-marker,
  .location-marker:hover, .location-marker.-hover {
    width: 150%;
    height: 150%;
  }
}

.tracker-view.-locations-large .location-marker {
  &:hover, &.-hover {
    width: 200%;
    height: 200%
  }
  &.-align-right {
    transform: translate(-75%, -50%);
  }
  &.-align-left {
    transform: translate(-25%, -50%);
  }
  &.-align-top {
    transform: translate(-50%, -25%);
  }
  &.-align-bottom {
    transform: translate(-50%, -75%);
  }
  &.-align-top-right {
    transform: translate(-75%, -25%);
  }
  &.-align-top-left {
    transform: translate(-25%, -25%);
  }
  &.-align-bottom-right {
    transform: translate(-75%, -75%);
  }
  &.-align-bottom-left {
    transform: translate(-25%, -75%);
  }
}

.-logic-mirror.-large-locationslocations .location-marker {
  &.-align-right {
    transform: translate(-25%, -50%);
  }
  &.-align-left {
    transform: translate(-75%, -50%);
  }
  &.-align-top {
    transform: translate(-50%, -25%);
  }
  &.-align-bottom {
    transform: translate(-50%, -75%);
  }
  &.-align-top-right {
    transform: translate(-25%, -25%);
  }
  &.-align-top-left {
    transform: translate(-75%, -25%);
  }
  &.-align-bottom-right {
    transform: translate(-25%, -75%);
  }
  &.-align-bottom-left {
    transform: translate(-75%, -75%);
  }
}


.location-marker__popper  {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: normal;
  line-height: 1.42857143;
  opacity: 0.9;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  [data-popper-arrow] {
    width: 10px;
    height: 10px;
    &:before {
      background-color: #3e3f3a;
      content: "";
      display: block;
      height: 10px;
      width: 10px;
      transform: rotate(45deg);
    }
  }
  &-inner {
    background-color:#3e3f3a;
    border-radius: 4px;
    color: white;
    position: relative;
    padding: 3px 5px;
  }
  &[data-popper-placement^='left'] &-inner, &[data-popper-placement^='right'] &-inner {
    margin: 0 5px;
  }
  &[data-popper-placement^='bottom'] &-inner, &[data-popper-placement^='top'] &-inner {
    margin: 5px 0;
  }
  &[data-popper-placement^='top'] [data-popper-arrow] {
    top: calc(100% - 10px); /* popper js places this arrow wrong */
  }
}

.location-marker.sm-item,
.location-marker.sm-boss.-map-icon {
  &.smva-difficulty:before {
    inset: 10%;
    image-rendering: initial;
  }
  &.smva-difficulty.-empty:before {
    inset: 0;
  }
}

.location-marker__item-list {
  @apply flex gap-3;
  .location-marker__item {
    @apply flex items-center;
  }
}