/* overrides for varia site styling. Should be able to be removed before launch */

body.-site-varia {
  .main {
    @apply bg-black p-0 mb-0;
    margin-top: 24px;
    #cur_seed, #cur_preset {
      background: black;
      color: white;
    }
  }
  #app {
    height: calc(100vh - 84px); /* topnav=24px, footer=60px */
    margin-top: 24px; /* topnav */
    margin-bottom: 60px; /* push old tracker below footer */
  }
  .btn-default {
    color: #ffffff;
    background-color: #3e3f3a;
    border-color: transparent;
  }
  tr:last-child {
    td {
      /* for table in init popup */
      border: 0;
    }
  }
  .btn {
    margin: 0;
  }
  .ur-dropdown.tracker-view__config {
    /* dropdown button for setting menu is smaller */
    @apply flex;
  }
  #doorPopup, #solverPopup, #itemPopup {
    z-index: 200;
  }
  #solverPopup {
    width: unset;
    left: 50%;
    transform: translate(-50%, 0);
    input {
      flex-shrink: 1;
    }
    .input-td {
      @apply flex items-center justify-between;
    }
  }
  #randomizerPopup {
    /* tailwind makes images display: block */
    img { display: inline-block; }
  }
  .tracker-view__config .dropdown-items {
    /* root font size makes this smaller than it should be */
    width: 272px;
  }
  .popover[class*="tour-"] {
    background: white;
    overflow: visible;
    .popover-content {
      box-shadow: 0 -2px 4px #eee inset;
      max-height: 85vh;
      overflow: scroll;
      p {
        margin-bottom: 0.5em;
        i {
          display: inline-block;
        }
      }
    }
    .popover-row {
      /* class I added to clean up tacker tour #0 */
      @apply flex gap-2 text-center;
      > div {
        width: 50px;
      }
      img {
        margin: 0 auto;
      }
    }
    .popover-navigation {
      @apply flex justify-between;
    }
  }
  .location-marker .ur-popper {
    /* small font in popper makes the icons look bad (and is also just hard to read) */
    font-size: 16px;
  }
}

body.-site-varia {
  /* these are all unsetting bootstrap styles */
  .table {
    margin-bottom: 0;
  }
  .form-control {
    font-size: 16px;
    height: unset;
  }
  label {
    margin-bottom: 0;
    &.ur-checkbox {
      @apply cursor-pointer flex gap-4 items-center;
      input {
        margin: 0;
      }
    }
  }
  .modal-footer, .modal-body {
    padding: 0;
  }
}

body.-site-varia {
  /* the headers */
  /* from bootstrap */
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h4, .h4 {
    font-size: 18px;
  }

  h5, .h5 {
    font-size: 14px;
  }

  h6, .h6 {
    font-size: 12px;
  }

  /* from plando css */
  h2 {
    font-size: 30px;
    margin: 0.3em 0;
  }
  h3 {
    margin: 0.1em;
  }
}

body.-site-varia {
  /* other (might need to keep these) */
  p img {
    /* images in tour popups */
    display: inline-block;
  }
  .tooltip {
    /* current varia tooltips have flicker issues */
    pointer-events: none;
  }
  .popover-content p i {
    display: inline-block;
  }
  .sm-portal {
    &[data-content]:before {
      @apply font-bold inline-flex items-center justify-center text-white;
      content: attr(data-content);
      font-style: normal;
    }
  }
}