/* overrides for varia site styling. Should be able to be removed before launch */

body.-site-varia {
  .main {
    @apply bg-black p-0 mb-0;
    margin-top: 24px;
    #cur_seed, #cur_preset {
      background: black;
      color: white;
    }
  }
  #app {
    height: calc(100vh - 84px); /* topnav=24px, footer=60px */
    margin-top: 24px; /* topnav */
    margin-bottom: 60px; /* push old tracker below footer */
  }
}

.tooltip {
  pointer-events: none;
}