$size: 64px;
$font: 48px;
$gap: 6px;

.varia-picker {
  @apply p-2;
  background: white;
  color: black;
  cursor: default;
}

.varia-picker__selected {
  @apply mb-4;
}

.varia-picker__items, .varia-picker__colors {
  font-size: calc($size * 0.75);
}

.varia-picker__door, .varia-picker__item {
  @apply border flex cursor-pointer items-center justify-center relative;
  background: #ccc;
  border-radius: 0.5rem;
  height: $size;
  width: $size;
  &:before {
    @apply absolute block inset-0;
    content: '';
  }
  &:hover:before {
    border: 0.5rem solid black;
  }
  &.-selected:before {
    border: 0.25rem solid black;
  }
}

.varia-picker__key {
  @apply bg-white text-black;
  @apply absolute bottom-0 right-0;
  @apply flex items-center justify-center;
  height: calc($size / 3);
  width: calc($size / 3);
  font-size: calc($size / 4);
}

/* <DoorPicker /> */
.varia-picker__colors {
  @apply flex flex-wrap;
  gap: $gap;
  width: calc(4 * $size + 3 * $gap);
}

/* <ItemPicker /> */
.varia-picker__group {
}

.varia-picker__group-name {
  font-size: 1.6rem;
}

.varia-picker__row {
  @apply flex gap-8;
}

.varia-picker__items {
  @apply flex flex-col gap-4;
}

.varia-picker__group-items {
  @apply flex;
  gap: $gap;
}