.warp-connections {
  z-index: 10;
}

.area-warp, .area-door {
  z-index: 9;
  &.-escape, &.-sand {
    z-index: 8;
  }
}

.location-marker {
  z-index: 11;
  &:hover {
    z-index: 12;
  }
}

.tracker-toolbar {
  z-index: 10;
}
