/* bg items */
.streaming-bg {
  z-index: -1;
}

.golden-four,
.tracker-view__key-stack {
  z-index: 1;
}

.resize-box, /* needs to be above "gems" in CWISP */
.warp-connections {
  z-index: 10;
}

.area-warp {
  z-index: 9;
  &.-escape, &.-sand {
    z-index: 8;
  }
}

.area-box__gps {
  z-index: 25;
}

.location-marker {
  z-index: 30;
}

.area-door {
  z-index: 35;
}

.smv-icon.-map-cursor {
  z-index: 36;
}

.area-warp, .area-door, .location-marker {
  &:hover, &.-active, &.-hover {
    z-index: 40;
  }
}

.item-tracker__wrapper,
.timer-widget,
.varia-picker,
.edit-area__click-mask,
.objective-checklist {
  z-index: 50; /* above locations, warps, and doors */
}


.ur-toolbar,
.hover-buttons {
  z-index: 100;
}

.auto-tracker {
  z-index: 101;
}

.modal {
  z-index: 200;
}
