@import './tailwind.css';

body {
  margin: 0;
}

html, body, #app {
  @apply h-full;
}

#app {

}

.tracker-view {
  height: 100%;
  #openseadragon-viewer {
    @apply h-full w-full;
    background: black;
  }
}

.area-warp {
  @apply absolute cursor-pointer;
  --height: calc(28em / 16);
  --width: 1em;
  font-size: calc(var(--zoom) * 15px);
  background: rgba(255, 0, 255, 0.5);
  height: var(--height);
  width: var(--width);
  transform: translate(-50%, -50%);
  &.-rotated {
    height: var(--width);
    width: var(--height);
  }
}