@import './tailwind.css';

body {
  margin: 0;
}

html, body, #app {
  @apply h-full;
}

#app {

}

.tracker-view {
  height: 100%;
  #openseadragon-viewer {
    @apply h-full w-full;
    background: black;
  }
}

.area-warp {
  /* base size is 75px */
  --height: 38.666%; /* 29 / 75 px */
  --width: 21.333%; /* 16 / 75 px */
  @apply absolute cursor-pointer;
  background: rgba(255, 0, 255, 0.5);
  height: var(--height);
  width: var(--width);
  transform: translate(-50%, -50%);
  &.-rotated {
    height: var(--width);
    width: var(--height);
  }
}

.area-overlay {
  @apply absolute;
  outline: 1px solid white;
  img {
    @apply max-w-none pointer-events-none;
  }
}

.dirty-layout {
  @apply fixed right-0 bottom-0;
}