@use "sass:math";
@use "sass:list";
@import "./mixins.scss";
@import "./pause-inventory.scss";

@mixin single-icon($name, $w, $h) {
  .smi.-#{$name} {
    background: url('./images/inventory/#{$name}.png') center no-repeat;
    background-size: contain;
    width: px($w);
    &:before {
      content: "";
      display: block;
      padding-top: 100% * math.div($h, $w);
    }
  }
}

@include single-icon(auto, 13, 22);
@include single-icon(energy, 32, 7);
@include single-icon(ietank, 6, 5);
@include single-icon(igrappling-beam, 16, 16);
@include single-icon(ix-ray, 16, 16);
@include single-icon(imissile, 24, 16);
@include single-icon(isuper-missile, 16, 16);
@include single-icon(ipower-bomb, 16, 16);
@include single-icon(ireserve, 9, 6);
@include single-icon(reserve_text, 66, 16);

.smi-number {
  background: url('./images/inventory/numbers.png');
}

.smi-reserve-number {
  background: url('./images/inventory/reserve_numbers.png');
}

.smi-menu-item, .smi-number, .smi-reserve-number {
  background-size: 100% auto;
  image-rendering: pixelated;
}

.smi-number, .smi-reserve-number {
  height: px(8);
  width: px(8);
}


.smi-number, .smi-reserve-number {
  @for $i from 0 through 9 {
    &.-number-#{$i} {
      background-position: 0 $i * -100%;
    }
  }
}

$beams: charge-beam ice-beam wave-beam spazer-beam plasma-beam;
$other_items: varia-suit gravity-suit morph-ball bomb spring-ball screw-attack hi-jump-boots space-jump speed-booster;
$items: list.join($beams, $other_items);

.smi-pause-item {
  background: url('./images/inventory/menu-items_active.png');
  height: px(8);
  background-size: px(72) auto;
  &.-inactive {
    background-image: url('./images/inventory/menu-items_inactive.png');
  }
  @for $i from 0 to length($items) {
    $name: nth($items, $i + 1);
    &.-#{$name} {
      background-position: 0 $i * -100%;
    }
  }
  @each $item in $beams {
    &.-#{$item} {
      width: px(40);
    }
  }
  @each $item in $other_items {
    &.-#{$item} {
      width: px(72);
    }
  }
}

.smi-pause-screen {
  background-image: url('./images/inventory/background.png');
  image-rendering: pixelated;
  position: relative;
  &.-controlled {
    background-image: url('./images/inventory/background_controlled.png');
  }
}

.smi-tracker {
  background-size: 100% auto, 100% auto, 100% auto;
  background-image:
    url('./images/inventory/background_tracker_top.png'),
    url('./images/inventory/background_tracker_bottom.png'),
    url('./images/inventory/background_tracker_middle.png')
  ;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left top, left bottom, left center;
  image-rendering: pixelated;
  &.-no-grid {
    background-image:
      url('./images/inventory/background_tracker_top.png'),
      url('./images/inventory/background_tracker_bottom.png'),
      url('./images/inventory/background_tracker_middle-no-grid.png')
    ;
  }
  &.-no-chrome {
    background-image: none;
  }
}

.grid-tracker {
  @apply flex flex-wrap flex-col items-center justify-center;
  gap: 0.2em;
  padding: 0.2em;
  &.smi-tracker {
    image-rendering: unset;
  }
  &__row {
    @apply flex justify-center;
    gap: 0.1em;
    &:empty {
      display: none;
    }
  }
  .sm-item, .sm-g4-head, .smv-objective {
    cursor: pointer;
  }

  .sm-item, .smv-objective {
    @apply relative;
  }
}

.grid-tracker__cell {
  @apply flex relative;
  ._targeted {
    @apply absolute flex items-center justify-center right-0 bottom-0;
    border-radius: 50%;
    color: red;
    font-size: 0.5em;
    height: 0.8em;
    pointer-events: none;
    text-shadow:
      1px 1px 0 #fff,
      -1px 1px 0 #fff,
      -1px -1px 0 #fff,
      1px -1px 0 #fff;
    width: 0.8em;
    z-index: 2;
  }
}

.grid-tracker__numbers {
  --inventory-px: 0.06em;
  @apply absolute flex;
  bottom: -0.06em;
  pointer-events: none;
  right: 0;
  &.-length-3 {
    /* centering 1XX numbers is complicated */
    right: -0.24em;
    .smi-number {
      @apply relative;
      &:first-child {
        left: 0.06em;
      }
      &:last-child {
        left: -0.06em;
      }
    }
  }
}
