@use "sass:math";
@use "sass:color";
@use "sass:list";
@use "sass:string";
@import "./variables.scss";

.sm-item, .sm-block, .sm-cre-hex, .sm-ui, .sm-link, .sm-boss {
  display: inline-block;
  position: relative;
  height: 1em;
  width: 1em;
  &:before, ._before {
    background-size: 100% auto;
    content: "";
    image-rendering: pixelated;
    inset: 0;
    position: absolute;
  }
  &.-has-not {
    opacity: 0.75;
    filter: grayscale(1);
  }
}

.sm-boss {
  &:before {
    background: no-repeat center;
    background-size: contain;
    image-rendering: unset;
  }
  @each $name in $bosses {
    &.-#{""+$name}:before {
      background-image: url(./images/bosses/#{$name}.png);
    }
  }
  @each $name in $bosses {
    &.-head.-#{""+$name}:before {
      background-image: url(./images/bosses/#{$name}_head.png);
    }
  }
}

$cre-hex: respawn block exit;

.sm-cre-hex {
  &:before {
    background-image: url("./images/cre-hex.png");
  }
  @for $i from 0 to length($cre-hex) {
    $name: nth($cre-hex, $i + 1);
    &.-#{"" + $name}:before {
      background-position: 0 $i * -100%;
    }
  }
}

.sm-block {
  @for $i from 0 to length($block) {
    $name: nth($block, $i + 1);
    &.-#{"" + $name}:before {
      background-image: url("./images/block.png");
      background-position: 0 $i * -100%;
    }
  }
}

.sm-block {
  @for $i from 0 to length($block-alt) {
    $name: nth($block-alt, $i + 1);
    &.-#{"" + $name}:before {
      background-image: url("./images/block-alt.png");
      background-position: 0 $i * -100%;
    }
  }
}

.sm-ui {
  &:before {
    background-image: url("./images/ui.png");
  }
  &.-active:before {
    background-image: url("./images/ui-active.png");
  }
  @for $i from 0 to length($ui_items) {
    $name: nth($ui_items, $i + 1);
    &.-#{"" + $name}:before {
      background-position: 0 $i * -100%;
    }
  }
}

.sm-item {
  &:before {
    background-image: url("./images/items.png");
  }
  @for $i from 0 to length($items) {
    $name: nth($items, $i + 1);
    &.-#{"" + $name}:before {
      background-position: 0 $i * -100%;
    }
    &.-alt:before {
      background-image: url("./images/items-alt.png");
    }
  }
}

.sm-item {
  @for $i from 0 to length($custom-items) {
    $name: nth($custom-items, $i + 1);
    &.-#{"" + $name}:before {
      background-image: url("./images/custom-items.png");
      background-position: 0 $i * -100%;
    }
    &.-alt:before {
      background-image: url("./images/custom-items-alt.png");
    }
  }
}

$ascent-items: weapons-tank shinespark boost-ball;
.sm-item {
  @for $i from 0 to length($ascent-items) {
    $name: nth($ascent-items, $i + 1);
    &.-#{"" + $name}:before {
      background-image: url("./images/ascent-items.png");
      background-position: 0 $i * -100%;
    }
  }
}
