@use "sass:math";
@use "sass:list";
@use "sass:string";

.smv-boss, .smv-gps, .smv-gps-number, .smv-icon, .smv-beam {
  display: inline-block;
  position: relative;
  height: 1em;
  width: 1em;
  &:before, ._before {
    background-size: 100% auto;
    content: "";
    image-rendering: pixelated;
    inset: 0;
    position: absolute;
  }
  &.-inactive {
    opacity: 0.75;
    filter: grayscale(1) brightness(0.75);
  }
}

.smv-boss {
  $bosses: kraid phantoon draygon ridley mother-brain spore-spawn crocomire botwoon golden-torizo;
  &:before {
    background-image: url(./images/varia/boss-icons.png);
  }
  @for $i from 0 to length($bosses) {
    $name: nth($bosses, $i + 1);
    &.-#{""+$name}:before {
      background-position: 0 $i * -100%;
    }
  }
}

.smv-beam {
  $beams: charge wave ice spazer plasma;
  &:before {
    background-image: url(./images/varia/cwisp.png);
  }
  @for $i from 0 to length($beams) {
    $name: nth($beams, $i + 1);
    &.-#{""+$name}:before, &.-#{""+string.slice($name, 1, 2)} {
      background-position: 0 $i * -100%;
    }
  }
}

.smv-icon.-door:before {
  background-image: url(./images/varia/door_icon.png);
}

.smv-icon.-map-cursor{
  &:before {
    background-image: url(./images/varia/map-cursor.png);
    inset: -50%;
    z-index: 1;
  }
  &.-blink:before {
    animation: 0.38s infinite map-cursor-blink;
  }
}

@keyframes map-cursor-blink {
  0%, 20% {
    background-position: 0 0;
  }
  20.0001%, 40% {
    background-position: 0 -100%;
  }
  40.0001%, 60% {
    background-position: 0 -200%;
  }
  60.0001%, 80% {
    background-position: 0 -100%;
  }
  80.0001%, 100% {
    background-position: 0 0;
  }
}

.smva-difficulty {
  &:after {
    @apply absolute block inset-0;
    content: "";
    background-size: 100% auto;
    background-image: url(./images/varia/difficulty-boxes.png);
    z-index: 1;
  }
  &:before {
    z-index: 2;
  }
}

$varia-levels: break easy medium hard harder hardcore mania;
.smva-difficulty {
  @for $i from 0 to length($varia-levels) {
    $name: nth($varia-levels, $i + 1);
    &.-difficulty-#{""+$name} {
      &:after {
        background-position: 0 $i * -100%;
      }
      &.-empty {
        &:after {
          background-position: 0;
          background-image: url("./images/varia/marker_#{$name}.gif");
        }
        &:hover:after {
          background-image: url(./images/varia/hover-boxes.png);
          background-position: 0 $i * -100%;
        }
      }
      &.-empty.-is-major:after {
        background-position: 0;
        background-image: url("./images/varia/marker_#{$name}_major.gif");
      }
    }
  }
  &:before {
    /* shrink icon a little to fit in box */
    inset: 10%;
  }
  &.-empty{
    &:before {
      inset: 0;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 2;
    }
  }
}

.smva-difficulty.-nothing, .smva-difficulty.-noenergy {
  &:after {
    background-image: url(./images/varia/visited-boxes.png);
    image-rendering: unset;
  }
  &:before {
    display:none;
  }
}

.smv-gps:before {
  background-image: url(./images/varia/gps.png);
  image-rendering: initial;
}

.smv-gps-number {
  &:before {
    background-image: url(./images/varia/gps-numbers.png);
    image-rendering: initial;
  }
  @for $i from 0 to 32 {
    &.-number-#{$i+1}:before {
      background-position: 0 $i * -100%;
    }
  }
}
