@use "sass:math";
@use "sass:list";
@use "sass:string";

.smv-boss, .smv-gps, .smv-gps-number, .smv-icon, .smv-beam {
  display: inline-block;
  position: relative;
  height: 1em;
  width: 1em;
  &:before, ._before {
    background-size: 100% auto;
    content: "";
    image-rendering: pixelated;
    inset: 0;
    position: absolute;
  }
  &.-inactive {
    opacity: 0.75;
    filter: grayscale(1) brightness(0.75);
  }
}

.smv-boss {
  $bosses: kraid phantoon draygon ridley mother-brain spore-spawn crocomire botwoon golden-torizo;
  &:before {
    background-image: url(./images/varia/boss-icons.png);
  }
  @for $i from 0 to length($bosses) {
    $name: nth($bosses, $i + 1);
    &.-#{""+$name}:before {
      background-position: 0 $i * -100%;
    }
  }
}

.smv-beam {
  $beams: charge wave ice spazer plasma;
  &:before {
    background-image: url(./images/varia/cwisp.png);
  }
  @for $i from 0 to length($beams) {
    $name: nth($beams, $i + 1);
    &.-#{""+$name}:before, &.-#{""+string.slice($name, 1, 2)} {
      background-position: 0 $i * -100%;
    }
  }
}

.smv-icon.-door:before {
  background-image: url(./images/varia/door_icon.png);
}

.smva-difficulty {
  background-size: 100% auto;
  &:before {
    z-index: 2;
  }
  &:after { /* these use :after so they can go behind the :before icons */
    background-size: 100% auto;
    content: "";
    image-rendering: pixelated;
    inset: 0;
    position: absolute;
    z-index: 1;
  }
}

$varia-levels: break easy medium hard harder hardcore mania;
.smva-difficulty {
  background-image: url(./images/varia/difficulty-boxes.png);
  @for $i from 0 to length($varia-levels) {
    $name: nth($varia-levels, $i + 1);
    &.-difficulty-#{""+$name} {
      background-position: 0 $i * -100%;
    }
  }
  &.-empty{
    &:before {
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(./images/varia/wipe_32.gif);
      z-index: 2;
    }
    &:after {
      z-index: 1;
    }
  }
}

.smva-difficulty.-nothing {
  &:before {
    display:none;
  }
  &:after {
    background-image: url(./images/varia/visited-boxes.png);
    image-rendering: unset;
  }
}

.smv-gps:before {
  background-image: url(./images/varia/gps.png);
  image-rendering: initial;
}

.smv-gps-number {
  &:before {
    background-image: url(./images/varia/gps-numbers.png);
    image-rendering: initial;
  }
  @for $i from 0 to 32 {
    &.-number-#{$i+1}:before {
      background-position: 0 $i * -100%;
    }
  }
}
